<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <title>Billing Page</title>
</head>
<body>
<div th:replace="/fragments/header :: navbar"></div>
<div class="container">

    <table class="table table-bordered">
        <tr>
            <td>Purchase ID</td>
            <td th:text="${purchase.getPurchaseId()}" colspan="2"></td>
        </tr>
        <tr>
            <td>Purchase Date</td>
            <td th:text="${#dates.format(purchase.getTimestamp(), 'dd-MMM-yyyy')}" colspan="2"></td>
        </tr>
        <tr th:each="item: ${purchase.getShoppingCart().getCartItems()}">
            <td th:text="${item.getProductDetails().getName()}"></td>
            <td th:text="${item.getProductDetails().getProductId()}"></td>
            <td th:text="${item.getQuantity()}"></td>
        </tr>
        <tr>
            <td>Total Price</td>
            <td th:text="${'Total Amount: ₹ ' + purchase.getTotal()}" colspan="2"></td>
        </tr>
    </table>
    <a th:href="@{/PurchaseCtrl/purchase}">View All Purchases</a>
</div>
</body>
</html>