<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <title>Product Catalog</title>
</head>
<body>
<div th:replace="/fragments/header :: navbar"></div>
<div class="container" style="margin: 20px">
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <td>Product Name</td>
        <td>
            <form class="row" action="#" th:action="@{/ProductCatalogCtrl/select}" th:object="${productcategory}" method="post">
                <div class="form-group" style="margin-left: 12px">
                    <select class="form-control" th:field="*{content}">
                        <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}" th:selected="${cat}">
                        </option>
                    </select>
                </div>
                <p><input type="submit" value="Submit" class="btn btn-success" style="margin-left: 4px"/>
            </form>
        </td>
            <td>Product Price</td>
            <td>Quantity</td>
            <td>Add To Cart</td>
        </tr>
        </thead>
        <tr th:each="tempProduct : ${products}">
            <td th:text="${tempProduct.getProductDetails().getName()}"></td>
            <td th:text="${tempProduct.getProductDetails().getCategory()}"></td>
            <td th:text="${'₹ ' + tempProduct.getProductDetails().getPrice()}"></td>
            <td >
                <th:block th:if="${tempProduct.getStock()>0}">
                    <p th:text="${tempProduct.getStock()}"></p>
                </th:block>

                <th:block th:if="${tempProduct.getStock()<=0}">
                    <p th:text="${'Out of Stock'}"></p>
                </th:block>
            </td>
            <td>
                <th:block th:if="${tempProduct.getStock()>0}">
                    <form th:action="@{|/ProductCatalogCtrl/productcatalog/${tempProduct.getId()}|}" method="post">
                        <button type="submit" class="btn btn-success">Add To Cart</button>
                    </form>
                </th:block>
            </td>
        </tr>
    </table>
</div>
</body>
</html>